{% extends 'frontend/_panel_base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}{{ page_title }} | {{ website.name }}{% endblock %}

{% block secondary_header %}
<div class="header collapse d-lg-flex p-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 ml-auto">
        <form method="POST" action="{% url 'website_publish' website.subdomain %}" class="input-icon my-3 my-lg-0 float-right" style="margin-right: 15px">
          {% csrf_token %}
          {% if website.is_visible %}
            <label class="custom-switch">
              <span class="custom-switch-description"><span class="status-icon bg-success"></span>&nbsp;Live&nbsp;</span>
              <input type="checkbox" name="is_visible" value="False" class="custom-switch-input" checked="checked" />
              <span class="custom-switch-indicator"></span>
            </label>
          {% else %}
            <label class="custom-switch">
              <span class="custom-switch-description"><span class="status-icon bg-danger"></span>&nbsp;Offline&nbsp;</span>
              <input type="checkbox" name="is_visible" value="True" class="custom-switch-input" />
              <span class="custom-switch-indicator"></span>
            </label>
          {% endif %}
        </form>
      </div>
      <div class="col-lg order-lg-first">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
          <li class="nav-item">
            <a class="nav-link{% if current_tab == 'dashboard' %} active{% endif %}" href="{% url 'website_detail' website.subdomain %}"><i class="fe fe-grid"></i> Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if current_tab == 'pages' %} active{% endif %}" href="{% url 'page_list' website.subdomain %}"><i class="fe fe-layers"></i> Pages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if current_tab == 'defaults' %} active{% endif %}" href="{% url 'website_defaults' website.subdomain %}"><i class="fe fe-image"></i> Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if current_tab == 'defaults' %} active{% endif %}" href="{% url 'website_defaults' website.subdomain %}"><i class="fe fe-sliders"></i> Default values</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if current_tab == 'config' %} active{% endif %}" href="{% url 'website_config' website.subdomain %}"><i class="fe fe-settings"></i> Configuration</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_content %}
<script type="text/javascript">
  $(document).ready(function(){
    $('.custom-switch-input').on('change', function(){
      this.form.submit();
    });
  });
</script>
{% endblock %}

