{% extends 'frontend/_base.html' %}
{% load bootstrap4 %}
{% block title %}Maasaic | Keep it weird{% endblock %}

{% block content %}
  <div class="container">
    <br/>
      <h1 class="text-center">Maasaic.com</h1>
      <p class="lead text-center">Make the web weird again!</p>
      <p class="text-center">Registered users <a href="{% url 'login' %}">login here</a>.</p>
    <br/>
    <div class="row justify-content-md-center">
      <div class="col col-4">
        <form method="POST" action="{% url 'user_create' %}">
          <legend>Create your site</legend>
          {% csrf_token %}
          {% bootstrap_form_errors user_create_form %}
          {% bootstrap_field user_create_form.name show_label=False %}
          <div class="row">
            <div class="col">
              {% bootstrap_field user_create_form.subdomain show_label=False %}
            </div>
            <div class="col">
              <h2>.maasaic.com</h2>
            </div>
          </div>
          {% bootstrap_field user_create_form.password show_label=False %}
          {% bootstrap_field user_create_form.email show_label=False %}

          {% buttons %}
            <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-plus-circle"></i> Create site</button>
          {% endbuttons %}
        </form>
      </div>
    </div>
  </div>

{% endblock %}
