{% load static %}
<div class="modal-body">
  <div class="container-fluid">
    <ul class="nav nav-tabs" id="image-select-options" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#my-gallery" data-toggle="tab" role="tab">My gallery</a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#google" data-toggle="tab" role="tab">Google Images</a>-->
      <!--</li>-->
      <li class="nav-item">
        <a class="nav-link" href="#contextualwebsearch" data-toggle="tab" role="tab">Web search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#giphy" data-toggle="tab" role="tab">Giphy</a>
      </li>
    </ul>
    <br />
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="my-gallery" role="tabpanel">
        <form method="POST" action="{% url 'image_create' website.subdomain %}" enctype="multipart/form-data" style="float:right; margin: 0" id="upload-image-form">
          {% csrf_token %}
          {{form.errors}}
          <label class="btn btn-primary" style="margin: 0">
            <i class="fe fe-upload-cloud"></i> Upload image <input type="file" name="image" hidden/>
          </label>
        </form>
        <h4 style="line-height: 33px">My gallery</h4>
        <div class="modal-media-results">
          {% if images %}
            {% for image in images %}
              <label class="imagecheck mb-4">
                <input name="image_file" type="radio" value="{{ image.id }}" data-image-id="{{ image.id }}" data-original-src="{% get_media_prefix %}{{ image.image }}" class="imagecheck-input">
                <figure class="imagecheck-figure">
                  <img src="{{ image.thumbnail_url }}" class="thumb" alt=""/>
                </figure>
                <p slass="stats">{{ image.width }}x{{ image.height }} | {{ image.size|filesizeformat }}</p>
              </label>
            {% endfor %}
          {% else %}
            <div class="alert alert-info">You don't have images yet. Upload your first one and you'll see it here.</div>
          {% endif %}
        </div>
      </div>

      <div class="tab-pane fade"             id="google" role="tabpanel">

      </div>
      <div class="tab-pane fade"             id="contextualwebsearch" role="tabpanel">

        <input type="text" class="form-control" placeholder="Web search..." id="web-search-input" style="margin-bottom: 15px">
        <div class="modal-media-results" id="web-search-results">

        </div>

        <script>
          $(document).ready(function(){
            var urlTmpl = 'https://contextualwebsearch-websearch-v1.p.mashape.com/api/Search/ImageSearchAPI?autoCorrect=false&count=25&q=';

            $('#web-search-input').on('keyup change', function(){
              var url = urlTmpl + $(this).val();
              $.ajax({
                type: 'GET',
                url: url,
                headers: {
                  "X-Mashape-Key": "9F8A9xZlcymsh4nbFURcBGDHoGvEp1vXSeCjsn06CnO77SclMR",
                  "X-Mashape-Host": "contextualwebsearch-websearch-v1.p.mashape.com",
                },
                success: function(data) {
                  var html = '';
                  var data = data['value'];
                  console.log(data);
                  for(var i = 0; i < data.length; i++){
                    var res = data[i];
                    var originalUrl = res['url'];
                    var height = res['height'];
                    var width = res['width'];

                    html +=
                      '<label class="imagecheck mb-4">' +
                        '<input name="image_url" type="radio" value="' + originalUrl + '" class="imagecheck-input">' +
                        '<figure class="imagecheck-figure">' +
                          '<img src="' + originalUrl + '" class="thumb" alt=""/>' +
                        '</figure>' +
                        '<p slass="stats">' + width + 'x' + height + '</p>' +
                      '</label>';
                  }
                  $('#web-search-results').html(html);
                  $('#web-search-results input[name=image_url]').change(function(event, val){
                    setCurrentImage(null, $(event.target).val(), null, 'url');
                  });
                }
              })
            });
          });
      </script>
      </div>
      <div class="tab-pane fade"             id="giphy" role="tabpanel">
        <input type="text" class="form-control" placeholder="Gif search..." id="gif-search-input" style="margin-bottom: 15px">
        <div class="modal-media-results" id="gif-results">

        </div>
        <script>
          var urlTmpl = 'https://api.giphy.com/v1/gifs/search?api_key={{ GIPHY_KEY }}&limit=25&offset=0&rating=G&lang=en&q=';

          $(document).ready(function(){
            $('#gif-search-input').on('keyup change', function(){
              var url = urlTmpl + $(this).val();
              $.get(url, function(data){
                var html = '';
                var data = data['data'];
                for(var i = 0; i < data.length; i++){
                  var res = data[i];
                  var previewUrl = res['images']['preview_gif']['url'];
                  var originalUrl = res['images']['original']['url'];
                  var frames = res['images']['original']['frames'];
                  var height = res['images']['original']['height'];
                  var width = res['images']['original']['width'];

                  html +=
                    '<label class="imagecheck mb-4">' +
                      '<input name="image_url" type="radio" value="' + originalUrl + '" class="imagecheck-input">' +
                      '<figure class="imagecheck-figure">' +
                        '<img src="' + previewUrl + '" class="thumb" alt=""/>' +
                      '</figure>' +
                      '<p slass="stats">' + width + 'x' + height + '</p>' +
                    '</label>';
                }
                $('#gif-results').html(html);
                $('#gif-results input[name=image_url]').change(function(event, val){
                  setCurrentImage(null, $(event.target).val(), null, 'url')
                });
              });
            });
          });
        </script>
      </div>
    </div>
  </div>
</div>
                  <!--EventBus.fire(WAITING_SERVER_RESPONSE_STARTED);-->

                  <!--$.ajax({-->
                    <!--type: "POST",-->
                    <!--url: '/sites/' + subdomain  + '/images/from-url' ,-->
                    <!--data: {url: $(event.target).val()},-->
                    <!--headers: {'X-CSRFToken': csrfmiddlewaretoken},-->
                    <!--cache: false,-->
                    <!--contentType: false,-->
                    <!--processData: false,-->
                    <!--success: function(response) {-->
                      <!--setCurrentImage($(this).data('image-id'), $(this).data('original-src'), null);-->
                    <!--},-->
                    <!--complete: function() {-->
                      <!--EventBus.fire(WAITING_SERVER_RESPONSE_ENDED);-->
                    <!--}-->
                  <!--});-->
