{% extends 'frontend/_website_detail_base.html' %}
{% load bootstrap4 %}

{% block title %}Create page{% endblock %}

{% block panel_content %}
<div class="my-3 my-md-5">
  <div class="container">
    <div class="row row-cards row-deck">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <a href="{% url 'page_list' website.subdomain %}" >
                <i class="fe fe-arrow-left"></i> Back to pages
              </a>
            </h3>
          </div>
          <div class="card-body">
            <form role="form" class="form-horizontal" method="POST" action="{% url 'page_create' website.subdomain %}">
              <legend>Create page</legend>
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Create page</button>
              {% endbuttons %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
