{% extends 'frontend/_base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Maasaic | Make the web weird again!{% endblock %}

{% block content %}
  <div class="page">
    <div class="page-single">
      <div class="container">
        <div class="row">
          <div class="col col-login mx-auto">
            <div class="text-center mb-6">
              <img src="{% static 'img/logos/tailor_brand.png' %}" class="h-10" alt="Maasaic" />
            </div>
              <form class="card" action="{% url 'login' %}" method="post">
                <div class="card-body p-6">
                  <div class="card-title text-center">Login</div>
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  {% buttons %}
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                  {% endbuttons %}
                </div>
              </form>
              <div class="text-center text-muted">
                Don't have account yet? <a href="{% url 'user_create' %}">Join now</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
