{% extends 'frontend/_panel_base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}My sites{% endblock %}

{% block panel_content %}
<div class="my-3 my-md-5">
  <div class="container">
    <div class="row row-cards row-deck">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title"><i class="fe fe-globe"></i> My Websites</h3>
          </div>
          <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap">
              <thead>
                <tr>
                  <th>Favicon</th>
                  <th>Name</th>
                  <th>Public link</th>
                  <th>Status</th>
                  <th>Created</th>
                  <th>Updated</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for website in websites %}
                  <tr>
                    <td class="text-center">
                      <a href="{% url 'website_detail' website.subdomain %}">
                        <div class="avatar d-block" style="background-image: url({{ website.favicon_url }})"></div>
                      </a>
                    </td>
                    <td>
                      <div><a href="{% url 'website_detail' website.subdomain %}">{{ website.name }}</a></div>
                    </td>
                    <td>
                      <div class="small text-muted">
                        <a href="{{ website.public_url }}" target="_blank">{{ website.domain }}</a>
                      </div>
                    </td>
                    <td>
                      {%if website.is_visible %}
                        <span class="status-icon bg-success"></span> Live
                      {% else %}
                        <span class="status-icon bg-danger"></span> Offline
                      {% endif %}
                    </td>
                    <td>{{ website.created_at|date:"" }}</td>
                    <td>{{ website.updated_at|date:"" }}</td>
                    <td>
                      <a class="icon" href="{% url 'website_detail' website.subdomain %}">
                        <i class="fe fe-edit"></i>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block panel_content1 %}
<div class="my-3 my-md-5">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'website_list' %}"><i class="fa fa-globe"></i> My sites</a></li>
      </ol>
    </nav>

    <div class="page-header">
      <h1 class="page-title">My Sites</h1>
    </div>
    <div class="row row-cards row-deck">
      <div class="col-12">
        <div class="card">
          <div class="table-responsive">
            <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
              <thead>
                <tr>
                  <th>Favicon</th>
                  <th>Site </th>
                  <th>Status</th>
                  <th>Created</th>
                  <th>Updated</th>
                </tr>
              </thead>
              <tbody>
                {% for website in websites %}
                  <tr>
                    <td class="text-center">
                      <div class="avatar d-block" style="background-image: url(demo/faces/female/26.jpg)">
                        <span class="avatar-status bg-green"></span>
                      </div>
                    </td>
                    <td>
                      <div>{{ website.name }}</div>
                      <div class="small text-muted">
                        <a href="{{ website.pulic_url }}">{{ website.public_url }}</a>
                      </div>
                    </td>
                    <td>
                      <span class="status-icon bg-success"></span> Paid
                    </td>
                    <td>{{ website.created_at|date:"" }}</td>
                    <td>{{ website.updated_at|date:"" }}</td>
                    <td>
                      <a class="icon" href="{% url 'website_detail' website.subdomain %}">
                        <i class="fe fe-edit"></i>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
