{% load compress %}
{% load static %}

<html>
  <head>
    <title>{% block title %}Maasaic{% endblock %}</title>
    <meta charset="UTF-8">

    {% block pre_css %}{% endblock %}

    {% compress css file maasaic-app %}
      <link href="{% static 'tabler-ui/dist/assets/css/dashboard.css' %}" type="text/css" rel="stylesheet"/>
      <link href="{% static 'summernote/dist/summernote-bs4.css' %}" type="text/css" rel="stylesheet"/>
      <link href="{% static 'bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css' %}" type="text/css" rel="stylesheet">
      <link href="{% static 'croppie/croppie.css' %}" type="text/css" rel="stylesheet"/>
      <link href="{% static 'sass/libs/dropdown.sass' %}" type="text/x-sass" rel="stylesheet"/>
      <link href="{% static 'sass/grid.sass' %}" type="text/x-sass" rel="stylesheet"/>
      <link href="{% static 'sass/main.sass' %}" type="text/x-sass" rel="stylesheet"/>
      <link href="{% static 'sass/cells.sass' %}" type="text/x-sass" rel="stylesheet"/>
      <link href="{% static 'sass/sidebar.sass' %}" type="text/x-sass" rel="stylesheet"/>
      <link href="{% static 'sass/buttons.sass' %}" type="text/x-sass" rel="stylesheet"/>
      <link href="{% static 'sass/loading.sass' %}" type="text/x-sass" rel="stylesheet"/>
      <link href="{% static 'sass/modals.sass' %}" type="text/x-sass" rel="stylesheet"/>
    {% endcompress %}

    {% block extra_css %}{% endblock %}

    {% if page_edit_on %}
      {% compress js file maasaic-app %}
        <script src="{% static 'tabler-ui/dist/assets/js/vendors/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'tabler-ui/dist/assets/js/vendors/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'tabler-ui/dist/assets/js/core.js' %}"></script>
        <script src="{% static 'tabler-ui/dist/assets/js/vendors/selectize.min.js' %}"></script>
        <script src="{% static 'croppie/croppie.min.js' %}"></script>

        <script src="{% static 'summernote/dist/summernote-bs4.min.js' %}"  type="text/javascript"></script>
        <script src="{% static 'bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js' %}"></script>
        <script src="{% static 'bootbox.js/bootbox.min.js' %}"></script>
        <script src="{% static 'sortablejs/Sortable.min.js' %}"></script>

        <script src="{% static 'transcrypt/__javascript__/utils.min.js' %}"  type="text/javascript"></script>
        <script src="{% static 'js/event-bus.js' %}"  type="text/javascript"></script>
        <script src="{% static 'js/dropdown.js' %}"  type="text/javascript"></script>
        <script src="{% static 'js/page.js' %}"  type="text/javascript"></script>
        <script src="{% static 'js/sidebar.js' %}"  type="text/javascript"></script>
        <script src="{% static 'js/modals.js' %}"  type="text/javascript"></script>
        <script src="{% static 'js/loading.js' %}"  type="text/javascript"></script>
        <script src="{% static 'js/forms.js' %}"  type="text/javascript"></script>
        <script type="text/javascript">
          $(document).ready(function(){
            EventBus.fire(HTML_INJECTED);
          });
        </script>
      {% endcompress %}
    {% endif %}
    {% block extra_js %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block content %}{% endblock %}
  </body>
</html>
