{% extends 'app/_base.html' %}

{% load static %}
{% load times %}
{% load content %}
{% load bootstrap4 %}

{% block title %}{% if page_edit_on %}EDIT: {% endif %}{{ page.title }}{% endblock %}

{% block body_class %}{% if page_edit_on %}edit-body body--width-{{ page.width }}{% endif %}{% endblock %}

{% block pre_css %}
  {% if page_edit_on %}
    {% spaceless %}
      {% for font in fonts %}
        {% if font.source == 'GOOGLE' %}
          <link href="{{ font.url }}" rel="stylesheet">
        {% endif %}
      {% endfor %}
    {% endspaceless %}
  {% else %}
    {% for page_font in page.pagefont_set.all %}
      {% if page_font.font.source == 'GOOGLE' %}
        <link href="{{ page_font.font.url }}" rel="stylesheet">
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}

{% block extra_js %}
  {% if page_edit_on %}
    <script type="text/javascript">
      {% spaceless %}
        var fontNames = [
          {% for font in fonts %}
            '{{ font.name }}'{% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
      {% endspaceless %}
      var csrfmiddlewaretoken = '{{ csrf_token }}';
      var subdomain = '{{ website.subdomain }}';
    </script>
  {% endif %}
{% endblock %}

{% block content %}

{# BEING: AJAX CONTAINER #}
{% if page_edit_on %}
  <div id="js-ajax-container">
{% endif %}

<div class="webpage
            webpage--width-{{ page.width }}"
     data-website-id="{{ page.website.id }}"
     data-website-subdomain="{{ page.website.subdomain }}"
     data-website-name="{{ page.website.name }}"
     data-website-description="{{ page.website.description }}"
     data-website-language="{{ page.website.language }}"
     data-page-id="{{ page.pk }}"
     data-title="{{ page.title }}"
     data-path="{{ page.path }}"
     data-width="{{ page.width }}"
     data-description="{{ page.description }}">
  {% if page.visible_sections|length == 0 %}
    <div class="alert alert-info" style="margin: 10px 310px 0 10px; padding: 40px">
      <h2>Your page has been create</h2>
      <p>Now it's time to add a section. Go ahead and press "Add <i class="fe fe-plus"></i>" next to the "SECTIONS" title on the sidebar to add a new Section.</p>
    </div>
  {% else %}
  {% for section in page.visible_sections %}
    <div class="section
                section--{{ section.n_columns }}-cols
                section--{{ section.n_rows }}-rows"
         style="
          background: {{ section.css.background}};
          padding-top: {{ section.css.padding_top }};
          padding-bottom: {{ section.css.padding_bottom }}
         "
         data-order="{{ section.order }}"
         data-cell_default_padding="{% section_cell_default_padding section %}"
         data-cell_default_margin="{% section_cell_default_margin section %}"
         data-cell_default_background="{% section_cell_default_background section %}"
         data-cell_default_shadow="{% section_cell_default_shadow section %}"
         data-cell_default_border="{% section_cell_default_border section %}"
         data-cell_default_border_radius="{% section_cell_default_border_radius section %}"
         data-width="{{ page.width }}"
         data-name="{{ section.name }}"
         data-html_id="{{ section.html_id }}"
         data-n_rows="{{ section.n_rows }}"
         data-n_cols="{{ section.n_columns}}"
         data-css_background="{{ section.css.background }}"
         data-css_padding_top="{{ section.css.padding_top }}"
         data-css_padding_bottom="{{ section.css.padding_bottom }}"
         data-section-id="{{ section.pk }}">
      <div class="section-inner show-borders">
        {# VIEW LAYER #}
        <div class="view-layer">
          {% for cell in section.visible_cells|slice:"::-1" %}
            <div class="cell
                        cell--layer-view
                        {% if page_edit_on %}no-select{% endif%}
                        cell--w-{{ cell.w }}
                        cell--h-{{ cell.h }}
                        cell--x-{{ cell.x }}
                        cell--y-{{ cell.y }}"
                 data-cell-id="{{ cell.pk }}"
                 data-section-id="{{ section.pk }}"
                 data-type="{{ cell.cell_type }}"
                 data-w="{{ cell.w }}"
                 data-h="{{ cell.h }}"
                 data-x="{{ cell.x }}"
                 data-y="{{ cell.y }}">
              <div class="cell-inner-margin" style="{% cell_inner_style_background cell %} {% cell_inner_style_margin_position cell %} border:{{ cell.css.border }}; border-radius: {{ cell.css.border_radius }}; box-shadow: {{ cell.css.box_shadow }}">
                <div class="cell-inner-padding" style="{% cell_inner_style_padding cell %}">
                  <div class="cell-inner">
                    {% display_cell cell %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        {% if page_edit_on %}
          {# INSERT LAYER #}
          <div class="insert-layer"
               data-section-id="{{ section.id }}">
            {% for row in section.n_rows|times %}
              {% for col in section.n_columns|times %}
                <div class="cell
                            cell--layer-insert
                            cell--w-1
                            cell--h-1
                            cell--x-{{ col }}
                            cell--y-{{ row }}"
                     data-section-id="{{ section.pk }}"
                     data-x="{{ col }}"
                     data-y="{{ row }}">
                </div>
              {% endfor %}
            {% endfor %}
            <div class="insert-cell-ctrl hidden"
                 data-section-id="{{ section.pk }}">
              <div class="insert-cell-btn
                          js-insert-cell-btn"
                   data-cell-type="TEXT">
                <div class="icon">
                  <i class="fe fe-type"></i>
                </div>
                <div class="text">Text</div>
              </div>
              <div class="insert-cell-btn
                          js-insert-cell-btn"
                   data-cell-type="IMAGE">
                <div class="icon">
                  <i class="fe fe-image"></i>
                </div>
                <div class="text">Image</div>
              </div>
              <!--<div class="insert-cell-btn no-margin-right-->
                          <!--js-insert-cell-btn"-->
                   <!--data-cell-type="VIDEO">-->
                <!--<div class="icon">-->
                  <!--<i class="fe fe-film"></i>-->
                <!--</div>-->
                <!--<div class="text">Video</div>-->
              <!--</div>-->
              <!--<div class="insert-cell-btn-->
                          <!--js-insert-cell-btn"-->
                   <!--data-cell-type="CLONE">-->
                <!--<div class="icon">-->
                  <!--<i class="fe fe-copy"></i>-->
                <!--</div>-->
                <!--<div class="text">Clone</div>-->
              <!--</div>-->
              <!--<div class="insert-cell-btn-->
                          <!--js-insert-cell-btn"-->
                   <!--data-cell-type="IFRAME">-->
                <!--<div class="icon">-->
                  <!--<i class="fe fe-globe"></i>-->
                <!--</div>-->
                <!--<div class="text">Iframe</div>-->
              <!--</div>-->
            </div>
          </div>

          {# EDIT LAYER #}
          <div class="edit-layer">
            {% for cell in section.editable_cells|slice:"::-1" %}
              <div class="cell
                          cell--layer-edit
                          cell--w-{{ cell.w }}
                          cell--h-{{ cell.h }}
                          cell--x-{{ cell.x }}
                          cell--y-{{ cell.y }}"
                   data-cell-id="{{ cell.pk }}"
                   data-section-id="{{ section.pk }}"
                   data-type="{{ cell.cell_type }}"
                   data-margin="{{ cell.css.margin }}"
                   data-padding="{{ cell.css.padding }}"
                   data-position="{% cell_inner_style_margin_position cell %}"
                   data-background="{{ cell.css.background }}"
                   data-border="{{ cell.css.border }}"
                   data-border_radius="{{ cell.css.border_radius }}"
                   data-shadow="{{ cell.css.box_shadow }}"
                   data-image-id="{{ cell.cell_image.uploaded_image.id }}"
                   data-image-cropping="{% if cell.image_cropping %}{{ cell.image_cropping }}{% endif %}"
                   data-image-original-src="{% if cell.cell_image  %}{% get_media_prefix %}{{ cell.cell_image.uploaded_image.image }}{% endif %}"
                   data-w="{{ cell.w }}"
                   data-h="{{ cell.h }}"
                   data-x="{{ cell.x }}"
                   data-y="{{ cell.y }}">
                <div class="edit-cell-ctrl">
                  <div class="edit-cell-ctrl-btns">
                    <div class="edit-cell-ctrl-btn
                                js-edit-cell-ctrl-btn-move">
                      <div class="icon">
                        <i class="fe fe-move"></i>
                      </div>
                      <span class="text">Move</span>
                    </div>
                    <div class="edit-cell-ctrl-btn
                                js-edit-cell-ctrl-btn-edit">
                      <div class="icon">
                        <i class="fe fe-edit"></i>
                      </div>
                      <span class="text">Edit</span>
                    </div>
                    <div class="edit-cell-ctrl-btn
                                js-edit-cell-ctrl-btn-delete">
                      <div class="icon">
                        <i class="fe fe-trash"></i>
                      </div>
                      <span class="text">Delete</span>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

          {# MOVE LAYER #}
          <div class="move-layer hidden">
            {% for row in section.n_rows|times %}
              {% for col in section.n_columns|times %}
                <div class="cell
                            cell--layer-move
                            cell--w-1
                            cell--h-1
                            cell--x-{{ col }}
                            cell--y-{{ row }}"
                     data-section-id="{{ section.pk }}"
                     data-x="{{ col }}"
                     data-y="{{ row }}">
                </div>
              {% endfor %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
{% endif %}

{# Sidebar #}
{% if page_edit_on %}
  <div id="sidebar">
    <div id="sidebar-inner">
      {# Website #}
      <h3 class="sidebar-title">
        <div class="sidebar-item-option right">
          <a class="btn btn-secondary btn-sm title-btn" href="{% url 'website_detail' website.subdomain %}"><i class="fe fe-edit"></i> Edit</a>
        </div>
        Website <span class="sidebar-title-status">{% if website.is_visible %}<span class="status-icon bg-success"></span> Live{% else %}<span class="status-icon bg-danger"></span> {% endif %}</span>
      </h3>
      <div class="sidebar-item">
        <select id="website-select">
          {% for web in user.website_set.all %}
            <option value="{{ web.subdomain }}" data-name="{{ web.name }}" data-domain="{{ web.domain }}" data-favicon="{{ web.favicon_url }}" {% if web == website %}selected="selected"{% endif %}>{{ web.domain }}</option>
          {% endfor %}
        </select>
        <script>
          function renderWebsiteOption(item, escape){
            return '<div><img src="' + item.favicon + '"/ class="image"></span><span class="label">' + item.name + '</span><span class="caption">' + item.url + '</span></div>';
          }
          $(document).ready(function(){
            $('#website-select').selectize({
              options: [
                {% for web in user.website_set.all %}
                  {subdomain: "{{ web.subdomain}}", url: "{{ web.domain }}", name: "{{ web.name}}", favicon: "{{ web.favicon_url }}"}{% if not forloop.last %},{% endif %}
                {% endfor%}
              ],
              onChange: function(value) {
                window.location.href = '/sites/' + value;
              },
              render: {
                item: renderWebsiteOption,
                option: renderWebsiteOption
            }});
          });
        </script>
      </div>

      {# Page #}
      <h3 class="sidebar-title">
        {% has_page_changed page as page_changed %}
        {% if page_changed %}
          <form method="POST" action="{% url 'page_publish' website.subdomain page.target_page.pk %}?next={{ request.path }}">
            {% csrf_token %}
            <input type="hidden" name="is_visible" value="True" />
            <button type="submit" class="btn btn-secondary btn-sm title-btn" data-toggle="tooltip" data-placement="top" title="Make all your changes visible to the world.">
              <i class="fe fe-check"></i> Publish
            </button>
          </form>
          <form method="POST" action="{% url 'page_reset' website.subdomain page.pk %}?next={{ request.path }}" º>
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary btn-sm title-btn" style="margin-right: 5px" data-toggle="tooltip" data-placement="top" title="WARNING! This will delete all changes made after the last time you published this page.">
              <i class="fe fe-rotate-ccw"></i> Undo
            </button>
          </form>
        {% endif %}
        {% if page.target_page.is_visible%}
          <span data-toggle="tooltip" data-placement="top" title="This page is is visible to the public.">
            Page <span class="sidebar-title-status"><span class="status-icon bg-success"></span>
          </span>
        {% else %}
           <span data-toggle="tooltip" data-placement="top" title="This page is not visible to the public.">
             Page <span class="sidebar-title-status"><span class="status-icon bg-danger"></span>
           </span>
        {% endif %}
      </h3>
      <div class="sidebar-item">
        <select id="page-select">
          {% for loop_page in website.edit_pages %}
            <option value="{{ loop_page.id }}" {% if loop_page == page %}selected="selected"{% endif %}>{{ loop_page.title }}</option>
          {% endfor %}
        </select>
        <script>
          function renderPageOption(item, escape){
            return '<div></span><span class="label">' + item.title + '</span><span class="caption">' + item.path + '</span></div>';
          }
          $(document).ready(function(){
            $('#page-select').selectize({
              options: [
                {% for page in website.edit_pages %}
                  {title: "{{ page.title }}", description: "{{ page.description }}", path: "{{ page.path }}"}{% if not forloop.last %},{% endif %}
                {% endfor %}
              ],
              onChange: function(value) {
                var subdomain = $('.webpage').data('website-subdomain');
                window.location.href = '/sites/' + subdomain + '/pages/' + value + '/update';
              },
              render: {
                item: renderPageOption,
                option: renderPageOption
            }});
          });
        </script>
      </div>
      {# Sections #}
      <h3 class="sidebar-title">
        Sections
        <button type="button" class="btn btn-secondary btn-sm title-btn js-section-add-btn" data-toggle="modal" data-target="#create-section-modal">
          <i class="fe fe-plus"></i> Add
        </button>
        <a class="btn btn-secondary btn-sm title-btn js-section-show-borders-btn" style="margin-right: 5px">
          <i class="fe fe-grid"></i> <span>Hide grid</span>
        </a>
      </h3>
      <ul class="section-list" id="js-section-list">
        {% for section in page.all_sections %}
          <li class="section-list-item" data-section-id="{{ section.pk }}">
            <div class="sidebar-item">
              <div class="sidebar-item-option left">
                <div class="sidebar-option-btn bordered grab drag-handle">
                  <i class="fe fe-menu"></i>
                </div>
              </div>
              <div class="sidebar-item-option right">
                <div class="sidebar-option-btn
                            js-sidebar-section-btn-edit"
                     data-section-id="{{ section.id }}">
                  <i class="fe fe-edit"></i>
                </div>
              </div>
              <div class="sidebar-item-option right">
                <form method="post" action="{% url 'section_update_visibility' section.pk %}" class="js-ajax-form">
                  {% csrf_token %}
                  <input type="hidden" name="is_visible" value="{% if section.is_visible %}False{% else %}True{% endif %}" />
                  <button class="sidebar-option-btn" type="submit">
                    {% if section.is_visible %}<i class="fe fe-eye"></i>
                    {% else %}<i class="fe fe-eye-off"></i>{% endif %}
                  </button>
                </form>
              </div>
              <div class="sidebar-item-content">
                <h2 class="name">{{ section.name }}</h2>
                <h3 class="description">(Cols:{{ section.n_columns }}, Rows:{{ section.n_rows }})</h3>
              </div>
            </div>

            {# Cells #}
            <ul class="cell-list" data-section-id="{{ section.pk }}">
              {% for cell in section.all_cells %}
                <li class="cell-list-item"
                    data-section-id="{{ section.pk }}"
                    data-cell-id="{{ cell.pk }}">
                  <div class="sidebar-item {% if not cell.is_visible %}not-visible{% endif %}">
                    <div class="sidebar-item-option left">
                      <div class="sidebar-option-btn bordered grab drag-handle">
                        {% cell_type_icon cell %}
                      </div>
                    </div>
                    <div class="sidebar-item-option right">
                      <div class="sidebar-option-btn
                                  js-sidebar-cell-btn-edit">
                        <i class="fe fe-edit"></i>
                      </div>
                    </div>
                    <div class="sidebar-item-option right">
                      <form method="post" action="{% url 'cell_update_visibility' cell.pk %}" class="js-ajax-form">
                        {% csrf_token %}
                        <input type="hidden" name="is_visible" value="{% if cell.is_visible %}False{% else %}True{% endif %}" />
                        <button class="sidebar-option-btn" type="submit">
                          {% if cell.is_visible %}<i class="fe fe-eye"></i>
                          {% else %}<i class="fe fe-eye-off"></i>{% endif %}
                        </button>
                      </form>
                    </div>
                    <div class="sidebar-item-content">
                      <h2 class="name" title="{{ cell|cell_short_text }}">{{ cell|cell_short_text|slice:":20" }}</h2>
                      <h3 class="description"><span class="coordinate">x:</span> {{ cell.x }}, <span class="coordinate">y:</span> {{ cell.y }}, <span class="coordinate">w:</span> {{ cell.w }}, <span class="coordinate">h:</span> {{ cell.h }}</h3>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{# js-ajax-container #}
{% if page_edit_on %}
  </div>
{% endif %}

{# Popups #}
{% if page_edit_on %}
  <div class="modal" tabindex="-1" role="dialog" id="create-section-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Create section</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <form method="POST" action="{% url 'section_create' %}" class="form-horizontal" >
          {% csrf_token %}
          {{ section_create_form.page }}
          <div class="modal-body">
            <div class="grid">
              <div class="row">
                <div class="col">
                  {% bootstrap_field section_create_form.name %}
                </div>
                <div class="col">
                  {% bootstrap_field section_create_form.html_id %}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  {% bootstrap_field section_create_form.section_n_cols %}
                </div>
                <div class="col">
                  {% bootstrap_field section_create_form.section_n_rows %}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  {% bootstrap_field section_create_form.section_padding_top %}
                </div>
                <div class="col">
                  {% bootstrap_field section_create_form.section_padding_bottom %}
                </div>
                <div class="col">
                  {% bootstrap_field section_create_form.section_background %}
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a class="btn btn-link mr-auto" href="{% url 'website_defaults' website.subdomain %}" target="_blank">Change default values</a>
            <button type="submit" class="btn btn-success"><i class="fa fa-plus-circle"></i> Create section</button>
          </div>
        </form>
        <script type="text/javascript">
          $(document).ready(function() {
            $('.colorpicker-element').colorpicker();
            bindFormEventsWithSelector('#create-section-modal form');
          });
        </script>
      </div>
    </div>
  </div>

  {# EDIT SECTION MODAL #}
  <div class="modal" tabindex="-1" role="dialog" id="edit-section-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  {# CELL MODAL TEMPLATE #}
  <div id="cell-modal-tmpl" class="hidden">
    <div>
    <div class="modal-header">
      <h4 class="modal-title"><i class="fe fe-file-text"></i> New Text cell</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"></span>
      </button>
    </div>
    <div class="choose-image-form-container"></div>
    <form class="ajax-form" method="POST" action="">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="edit-content-panel"></div>
            </div>
            <div class="col col-2">
              <h5>Cell properties</h5>
              {% csrf_token %}
              <div class="form-group">
                <label class="form-label">Margin</label>
                <input type="text" class="form-control" name="css_margin">
              </div>
              <div class="form-group">
                <label class="form-label">Padding</label>
                <input type="text" class="form-control" name="css_padding">
              </div>
              <div class="form-group">
                <label class="form-label">Background</label>
                <div class="input-group colorpicker-component colorpicker-element">
                  <div class="input-group-prepend">
                    <span class="input-group-text input-group-addon"><i></i></span>
                  </div>
                  <input type="text" name="css_background" class="form-control input-sm"/>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Border</label>
                <input type="text" class="form-control" name="css_border">
              </div>
              <div class="form-group">
                <label class="form-label">Border radius</label>
                <input type="text" class="form-control" name="css_border_radius">
              </div>
              <div class="form-group">
                <label class="form-label">Box shadow</label>
                <input type="text" class="form-control" name="css_shadow">
              </div>
              <input    name="id"                            type="hidden" />
              <input    name="cell_type"                     type="hidden" />
              <input    name="section"                       type="hidden" />
              <input    name="x"                             type="hidden" />
              <input    name="y"                             type="hidden" />
              <input    name="w"                             type="hidden" />
              <input    name="h"                             type="hidden" />
              <textarea name="content" class="hidden"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link text-danger" data-dismiss="modal"><i class="fe fe-slash"></i> Cancel</button>
        <button type="submit" class="btn btn-success btn-md" id="modal-btn">Create cell</button>
      </div>
    </form>
    </div>
  </div>

  {# INSERT CELL MODAL #}
  <div class="modal" tabindex="-1" role="dialog" id="cell-modal">
    <div class="modal-dialog modal-huge" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>

{% endif %}

{# loading #}
<div id="loading-overlay" class="hidden">
  <div id="loading-msg">
    <i class="fa fa-circle-o-notch fa-spin"></i> waiting for response
  </div>
</div>
{% endblock %}
