{% extends 'app/_base.html' %}

{% load static %}
{% load times %}
{% load cells %}
{% load bootstrap4 %}

{% block title %}{{ page.title }} | {{ website.name }}{% endblock %}

{% block body_class %}{% if page_edit_on %}body-edit-page{% endif %}{% endblock %}

{% block extra_css %}
  <link href="{{ FONTS_URL }}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  {% include 'widgets/fonts.html' %}
  {% if page_edit_on %}
  <script type="text/javascript">
    var csrfmiddlewaretoken = '{{ csrf_token }}';
  </script>
  {% endif %}
{% endblock %}

{% block content %}
{% if page_edit_on %}
  {# BEING: AJAX CONTAINER #}
  <div id="js-ajax-container">
{% endif %}

<div class="page"
     data-website-id="{{ page.website.id }}"
     data-website-pub_status="{{ page.website.pub_status }}"
     data-website-subdomain="{{ page.website.subdomain }}"
     data-website-name="{{ page.website.name }}"
     data-website-description="{{ page.website.description }}"
     data-website-language="{{ page.website.language }}"
     data-website-page_width="{{ page.website.page_width }}"
     data-page-id="{{ page.pk }}"
     data-pub_status="{{ page.pub_status }}"
     data-name="{{ page.name }}"
     data-path="{{ page.path }}"
     data-page_width="{{ page.page_width }}"
     data-description="{{ page.description }}">
  {% for section in page.visible_sections %}
    <div class="section
                section--{{ section.n_columns }}-columns
                section--{{ section.n_rows }}-rows
                section--{{ section.cell_height }}-height"
         style="{% for key, val in section.css.items %}{{ key }}:{{ val }};{% endfor %}"
         data-pub_status="{{ section.pub_status }}"
         data-order="{{ section.order }}"
         data-n_columns="{{ section.n_columns }}"
         data-cell_height="{{ section.cell_height }}"
         data-cell_padding="{{ section.cell_default_padding }}"
         data-cell_bg_color="{{ section.cell_default_bg_color }}"
         data-width="{{ page.page_width }}"
         data-name="{{ section.name }}"
         data-slug="{{ section.slug }}"
         data-section-id="{{ section.pk }}">
      <div class="section-inner"
           style="width: {{ page.get_page_width }}px">

        {# VIEW LAYER #}
        <div class="view-layer">
          {% for cell in section.visible_cells %}
            <div class="cell
                        cell--layer-view
                        cell--w-{{ cell.w }}
                        cell--h-{{ cell.h }}
                        cell--x-{{ cell.x }}
                        cell--y-{{ cell.y }}"
                 style="background: {{ cell.css.background }}"
                 data-section-id="{{ section.pk }}"
                 data-type="{{ cell.cell_type }}"
                 data-w="{{ cell.w }}"
                 data-h="{{ cell.h }}"
                 data-x="{{ cell.x }}"
                 data-y="{{ cell.y }}">
              <div class="cell-inner" style="margin: {{ cell.css.padding }}">
                {{ cell.content|safe }}
              </div>
            </div>
          {% endfor %}
        </div>

        {% if page_edit_on %}
          {# INSERT LAYER #}
          <div class="insert-layer"
               data-section-id="{{ section.id }}">
            {% for row in section.n_rows|times %}
              {% for col in section.n_columns|times %}
                <div class="cell
                            cell--layer-insert
                            cell--w-1
                            cell--h-1
                            cell--x-{{ col }}
                            cell--y-{{ row }}"
                     data-section-id="{{ section.pk }}"
                     data-x="{{ col }}"
                     data-y="{{ row }}">
                </div>
              {% endfor %}
            {% endfor %}
            <div class="insert-cell-ctrl hidden"
                 data-section-id="{{ section.pk }}">
              <div class="insert-cell-btn
                          js-insert-cell-btn"
                   data-cell-type="text">
                <div class="icon">
                  <i class="fa fa-font"></i>
                </div>
                <div class="text">Text</div>
              </div>
              <div class="insert-cell-btn
                          js-insert-cell-btn"
                   data-cell-type="image">
                <div class="icon">
                  <i class="fa fa-camera"></i>
                </div>
                <div class="text">Image</div>
              </div>
              <div class="insert-cell-btn no-margin-right
                          js-insert-cell-btn"
                   data-cell-type="video">
                <div class="icon">
                  <i class="fa fa-youtube"></i>
                </div>
                <div class="text">Video</div>
              </div>
              <div class="insert-cell-btn
                          js-insert-cell-btn"
                   data-cell-type="clone">
                <div class="icon">
                  <i class="fa fa-clone"></i>
                </div>
                <div class="text">Clone</div>
              </div>
              <div class="insert-cell-btn
                          js-insert-cell-btn"
                   data-cell-type="iframe">
                <div class="icon">
                  <i class="fa fa-code"></i>
                </div>
                <div class="text">Iframe</div>
              </div>
            </div>
          </div>

          {# EDIT LAYER #}
          <div class="edit-layer">
            {% for cell in section.editable_cells %}
              <div class="cell
                          cell--layer-edit
                          cell--w-{{ cell.w }}
                          cell--h-{{ cell.h }}
                          cell--x-{{ cell.x }}
                          cell--y-{{ cell.y }}"
                   data-cell-id="{{ cell.pk }}"
                   data-section-id="{{ section.pk }}"
                   data-type="{{ cell.cell_type }}"
                   data-w="{{ cell.w }}"
                   data-h="{{ cell.h }}"
                   data-x="{{ cell.x }}"
                   data-y="{{ cell.y }}">
                <div class="edit-cell-ctrl">
                  <div class="edit-cell-ctrl-btns">
                    <div class="edit-cell-ctrl-btn
                                edit-cell-ctrl-btn-move">
                      <div class="icon">
                        <i class="fa fa-arrows"></i>
                      </div>
                      <span class="text">Move</span>
                    </div>
                    <div class="edit-cell-ctrl-btn
                                edit-cell-ctrl-btn-edit">
                      <div class="icon">
                        <i class="fa fa-edit"></i>
                      </div>
                      <span class="text">Edit</span>
                    </div>
                    <div class="edit-cell-ctrl-btn
                                edit-cell-ctrl-btn-delete">
                      <div class="icon">
                        <i class="fa fa-times"></i>
                      </div>
                      <span class="text">Delete</span>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

          {# MOVE LAYER #}
          <div class="move-layer hidden">
            {% for row in section.n_rows|times %}
              {% for col in section.n_columns|times %}
                <div class="cell
                            cell--layer-move
                            cell--w-1
                            cell--h-1
                            cell--x-{{ col }}
                            cell--y-{{ row }}"
                     data-section-id="{{ section.pk }}"
                     data-x="{{ col }}"
                     data-y="{{ row }}">
                </div>
              {% endfor %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

{# Sidebar #}
{% if page_edit_on %}
  <div id="sidebar">
    <div id="sidebar-inner">
      {# Website #}
      <h3 class="sidebar-title">
        Website
      </h3>
      <div class="sidebar-item">
        <div class="sidebar-item-option left">
          <div class="sidebar-dropdown-wrapper"
               id="js-website-select-dropdown">
            <div class="sidebar-option-btn bordered">
              <i class="fa fa-angle-down"></i>
            </div>
            <ul class="sidebar-dropdown">
              {% for web in user.website_set.all %}
                <li><a href="#">
                  <span class="name">{{ web.name }}</span>
                  <span class="description">{{ web.domain }}</span>
                </a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="sidebar-item-option right">
          <a class="sidebar-option-btn" href="{% url 'website_detail' website.subdomain %}">
            <i class="fa fa-edit"></i>
          </a>
        </div>
        <div class="sidebar-item-content">
          <h2 class="name">{{ website.name }}</h2>
          <h3 class="description">{{ website.domain|truncatechars:26 }}</h3>
        </div>
      </div>

      {# Page #}
      <h3 class="sidebar-title">
        Page
      </h3>
      <div class="sidebar-item">
        <div class="sidebar-item-option left">
          <div class="sidebar-dropdown-wrapper"
               id="js-page-select-dropdown">
            <div class="sidebar-option-btn bordered">
              <i class="fa fa-angle-down"></i>
            </div>
            <ul class="sidebar-dropdown">
              {% for page in website.edit_pages %}
                <li><a href="{% url 'page_update' website.subdomain page.pk %}">
                  <span class="name">{{ page.title }}</span>
                  <span class="description">{{ page.path }}</span>
                </a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="sidebar-item-option right">
          <a class="sidebar-option-btn" href="{% url 'page_config' website.subdomain page.target_page.pk %}">
            <i class="fa fa-edit"></i>
          </a>
        </div>
        <div class="sidebar-item-content">
          <h2 class="name">{{ page.title }}</h2>
          <h3 class="description">{{ page.path }}</h3>
        </div>
      </div>
      {# Sections #}
      <h3 class="sidebar-title">
        Sections
        <button type="button" class="title-btn js-section-add-btn" data-toggle="modal" data-target="#create-section-modal">
          Add <i class="fa fa-plus"></i>
        </button>
      </h3>
      <ul class="section-list">
        {% for section in page.section_set.all %}
          <li>
            <div class="sidebar-item">
              <div class="sidebar-item-option left">
                <div class="sidebar-option-btn bordered grab">
                  <i class="fa fa-reorder"></i>
                </div>
              </div>
              <div class="sidebar-item-option right">
                <div class="sidebar-option-btn">
                  <i class="fa fa-edit"></i>
                </div>
              </div>
              <div class="sidebar-item-option right">
                <form method="post" action="{% url 'section_update_visibility' section.pk %}" class="js-ajax-form">
                  {% csrf_token %}
                  <input type="hidden" name="is_visible" value="{% if section.is_visible %}False{% else %}True{% endif %}" />
                  <button class="sidebar-option-btn" type="submit">
                    {% if section.is_visible %}<i class="fa fa-eye"></i>
                    {% else %}<i class="fa fa-eye-slash"></i>{% endif %}
                  </button>
                </form>
              </div>
              <div class="sidebar-item-content">
                <h2 class="name">{{ section.name }}</h2>
                <h3 class="description">(C:{{ section.n_columns }}, R:{{ section.n_rows }}, H:{{ section.cell_height }}px)</h3>
              </div>
            </div>

            {# Cells #}
            <ul class="cell-list">
              {% for cell in section.cell_set.all %}
                <li class="cell-list-item"
                    data-section-id="{{ section.pk }}"
                    data-cell-id="{{ cell.pk }}">
                  <div class="sidebar-item {% if not cell.is_visible %}not-visible{% endif %}">
                    <div class="sidebar-item-option left">
                      <div class="sidebar-option-btn bordered grab">
                        <i class="fa fa-reorder"></i>
                      </div>
                    </div>
                    <div class="sidebar-item-option right">
                      <div class="sidebar-option-btn">
                        <i class="fa fa-edit"></i>
                      </div>
                    </div>
                    <div class="sidebar-item-option right">
                      <form method="post" action="{% url 'cell_update_visibility' cell.pk %}" class="js-ajax-form">
                        {% csrf_token %}
                        <input type="hidden" name="is_visible" value="{% if cell.is_visible %}False{% else %}True{% endif %}" />
                        <button class="sidebar-option-btn" type="submit">
                          {% if cell.is_visible %}<i class="fa fa-eye"></i>
                          {% else %}<i class="fa fa-eye-slash"></i>{% endif %}
                        </button>
                      </form>
                    </div>
                    <div class="sidebar-item-content">
                      <h2 class="name">{% cell_type_icon cell %} | {{ cell.text|truncatechars:12 }}</h2>
                      <h3 class="description"><span class="coordinate">x:</span> {{ cell.x }}, <span class="coordinate">y:</span> {{ cell.y }}, <span class="coordinate">w:</span> {{ cell.w }}, <span class="coordinate">h:</span> {{ cell.h }}</h3>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{# js-ajax-container #}
{% if page_edit_on %}
  </div>
{% endif %}

{# Popups #}
{% if page_edit_on %}
  <div class="modal" tabindex="-1" role="dialog" id="create-section-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"> Create section</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="{% url 'section_create' %}" class="form-horizontal">
          <div class="modal-body">
              {% csrf_token %}
              {% bootstrap_form section_create_form %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link text-danger" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success"><i class="fa fa-plus-circle"></i> Create section</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {# TEXT CELL #}
  <div class="modal" tabindex="-1" role="dialog" id="insert-cell-modal">
    <div class="modal-dialog modal-huge" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

{% endif %}

{# loading #}
<div id="loading-overlay" class="hidden">
  <div id="loading-msg">
    <i class="fa fa-circle-o-notch fa-spin"></i> waiting for response
  </div>
</div>
{% endblock %}
