@import 'variables'

.body-edit-page
  .page .section .section-inner
    margin: 0 0 0 20px

.page
  .section
    &.hover
      background: $primary-color !important
    .section-inner
      position: relative
      margin: 0 auto
      height: 100%
      &.show-borders
        border-left: 1px solid rgba(0, 0, 0, 0.07)
        border-top: 1px solid rgba(0, 0, 0, 0.07)
      .cell
        position: absolute
        overflow: hidden
      .view-layer
        .cell
          z-index: $cell-view-layer-zindex
      .insert-layer
        .cell
          z-index: $cell-insert-layer-zindex
          &.show-borders
            border-top: none
            border-right: 1px solid rgba(0, 0, 0, 0.07)
            border-bottom: 1px solid rgba(0, 0, 0, 0.07)
            border-left: none
        &.is-inserting
          .cell
            z-index: $cell-insert-layer-inserting-zindex
      .edit-layer
        .cell
          z-index: $cell-edit-layer-zindex
      .move-layer
        .cell
          z-index: $cell-move-layer-zindex
          &.moving-cell
            background: red
            z-index: $cell-moving-zindex
            .edit-cell-ctrl
              display: none

  @each $page_width in $page-widths
    &.page--width-#{$page_width}
      .section-inner
        width:  $page_width * 1px
      @for $col_n from 1 through $max-cols
        $cell_width: $page_width / $col_n
        .section.section--#{$col_n}-cols
          .cell
            @for $sec_col_n from 1 through $col_n
              &.cell--w-#{$sec_col_n}
                width: $cell_width * $sec_col_n * 1px
              &.cell--x-#{$sec_col_n}
                left: $cell_width * ($sec_col_n - 1) * 1px
            @for $sec_row_n from 1 through $max-rows
              &.cell--h-#{$sec_row_n}
                height: $cell_width * $sec_row_n * 1px
              &.cell--y-#{$sec_row_n}
                top: $cell_width * ($sec_row_n - 1) * 1px
          @for $row_n from 1 through $max-rows
            &.section--#{$row_n}-rows
              .section-inner
                height: $cell_width * $row_n * 1px
              .wrapper
                height: $cell_width * $row_n * 1px
