@import 'variables'
@import 'mixins'

html, body
  font-family: $font-family
  color: $text_color
  font-size: $font-size
  position: relative

sub
  vertical-align: sub
  font-size: smaller
sup
  vertical-align: super
  font-size: small
em
  font-style: italic
strong
  font-weight: bold

.hidden
  display: none !important

a
  text-decoration: none

.no-select
  @include no-select()

[hidden]
  display: none !important
