@import 'variables'
@import 'mixins'

@mixin sidebar-bordered-btn-grab()
  @include cursor-grab
  &.active
    @include cursor-grabbing()

#sidebar
  @include no-select()
  @include linear-gradient($sidebar-bg...)
  border-left: 2px solid $primary-color
  width: $sidebar-width
  position: fixed
  top: 0
  right: 0
  bottom: 0
  z-index: $sidebar-zindex
  overflow-y: scroll

#sidebar-inner
  margin: $sidebar-padding

.sidebar-title
  font-size: $sidebar-title-font-size
  line-height: 25px
  color: $sidebar-title-color
  margin: $sidebar-title-margin
  text-transform: uppercase
  font-weight: bold
  clear: both

  .sidebar-title-status
    color: $sidebar-light-color
    font-size: 12px
    margin-left: 10px
    position: relative
    bottom: 1px
    font-weight: normal

  .title-btn
    float: right

.sidebar-item
  min-height: $sidebar-item-height
  margin: 0 -15px 5px
  padding: $sidebar-item-vertical-padding 15px
  clear: both
  &.not-visible
    .sidebar-item-content
      .name
        text-decoration: line-through

  .sidebar-item-content
    float: left
    margin: 0 10px
    display: table-cell
    vertical-align: middle
    .name
      color: $sidebar-base-color
      font-size: $sidebar-font-size-normal
      margin-bottom: 2px
      line-height: 1em
      font-weight: normal
    .description
      color: $sidebar-light-color
      font-size: $sidebar-font-size-small
      line-height: 1em

  .sidebar-item-option
    height: $sidebar-item-height - (2 * $sidebar-item-vertical-padding)
    width: $sidebar-item-option-width
    text-align: center
    &.left
      float: left
    &.right
      float: right
    .fe
      line-height: $sidebar-item-height - (2 * $sidebar-item-vertical-padding) - 2

  .sidebar-option-btn
    height: $sidebar-item-height - (2 * $sidebar-item-vertical-padding)
    width: $sidebar-item-option-width
    font-size: $sidebar-btn-font-size
    cursor: pointer
    color: $sidebar-btn-color
    border: none
    background: none
    padding: 0
    .fa
      line-height: 30px
    &.bordered
      border: 1px solid
      @include border-radius($sidebar-bordered-btn-border-radius)
      .fa
        line-height: $sidebar-item-height - (2 * $sidebar-item-vertical-padding) - 4
    &.grab
      @include cursor-grab
    &.grabbing
      @include cursor-grabbing
    &:hover
      color: $sidebar-bordered-btn-color-active !important
      border-color: $sidebar-bordered-btn-color-active !important
    &:focus
      outline: none

  &.hover
    .sidebar-item-content
      .name
        color: $sidebar-base-color-2
      .description
        color: $sidebar-light-color-2
    .sidebar-option-btn
      color: $sidebar-light-color-2
      border-color: $sidebar-light-color-2

.section-list
  margin: 0
  padding: 0
  li
    list-style-type: none

.cell-list
  margin: 5px 0
  padding: 5px 0 5px 10px
  border-left: 1px solid #ddd

  .sortable-ghost
    background: rgba($primary-color, 0.1)
