@import 'variables'
@import 'mixins'

@mixin sidebar-bordered-btn-grab()
  @include cursor-grab
  &.active
    @include cursor-grabbing()

#sidebar
  @include no-select()
  @include linear-gradient($sidebar-bg...)
  border-left: 2px solid $primary-color
  width: $sidebar-width
  position: fixed
  top: 0
  right: 0
  bottom: 0
  z-index: $sidebar-zindex
  overflow-y: scroll

#sidebar-inner
  margin: $sidebar-padding

.sidebar-title
  font-size: $sidebar-title-font-size
  color: $sidebar-title-color
  margin: $sidebar-title-margin
  text-transform: uppercase
  font-weight: bold
  clear: both

  .sidebar-title-status
    color: $sidebar-light-color
    font-size: 12px
    margin-left: 10px
    position: relative
    bottom: 1px
    font-weight: normal

  .title-btn
    float: right
    border: 1px solid
    padding: 1px 8px
    font-size: 10px
    border-radius: 4px
    cursor: pointer
    background: none
    color: $sidebar-title-color
    line-height: 13px
    position: relative
    bottom: 1px
    &:hover
      color: $primary-color
    &:active
      outline: 0

.sidebar-item
  height: $sidebar-item-height
  margin: 0 -15px 5px
  padding: $sidebar-item-vertical-padding 15px
  clear: both
  &.not-visible
    .sidebar-item-content
      .name
        text-decoration: line-through

  .sidebar-item-content
    float: left
    margin: 0 10px
    display: table-cell
    vertical-align: middle
    .name
      color: $sidebar-base-color
      font-size: $sidebar-font-size-normal
      margin-bottom: 2px
      line-height: 1em
    .description
      color: $sidebar-light-color
      font-size: $sidebar-font-size-small
      line-height: 1em

  .sidebar-item-option
    height: $sidebar-item-height - (2 * $sidebar-item-vertical-padding)
    width: $sidebar-item-option-width
    text-align: center
    &.left
      float: left
    &.right
      float: right
    .fa
      line-height: $sidebar-item-height - (2 * $sidebar-item-vertical-padding) - 2

  .sidebar-option-btn
    height: $sidebar-item-height - (2 * $sidebar-item-vertical-padding)
    width: $sidebar-item-option-width
    font-size: $sidebar-btn-font-size
    cursor: pointer
    color: $sidebar-btn-color
    border: none
    background: none
    padding: 0
    .fa
      line-height: 30px
    &.bordered
      border: 1px solid
      @include border-radius($sidebar-bordered-btn-border-radius)
      .fa
        line-height: $sidebar-item-height - (2 * $sidebar-item-vertical-padding) - 4
    &.grab
      @include cursor-grab
    &.grabbing
      @include cursor-grabbing
    &:hover
      color: $sidebar-bordered-btn-color-active !important
      border-color: $sidebar-bordered-btn-color-active !important
    &:focus
      outline: none

  &.hover
    //background: rgba($primary-color, 0.1)
    .sidebar-item-content
      .name
        color: $sidebar-base-color-2
      .description
        color: $sidebar-light-color-2
    .sidebar-option-btn
      color: $sidebar-light-color-2
      border-color: $sidebar-light-color-2
baz
.cell-list
  margin: 5px 0
  padding: 5px 0 5px 10px
  border-left: 1px solid #ddd

  .sortable-ghost
    background: rgba($primary-color, 0.1)

// --------------------------------------------------------------------
// Dropdown
// --------------------------------------------------------------------
.sidebar-dropdown-wrapper
  position: relative

  &.active
    .sidebar-dropdown
      opacity: 1
      pointer-events: auto

  .sidebar-dropdown
    position: absolute
    top: 40px
    left: 0
    right: 0
    z-index: $sidebar-dropdown-zindex
    width: 235px
    text-align: left

    /* Styles */
    background: $sidebar-dropdown-bg
    border: 1px solid $sidebar-dropdown-border-color
    box-shadow: 0 0 5px rgba(0,0,0,0.1)
    font-weight: normal
    transition: all 0.2s ease-in
    list-style: none
    border-radius: 4px

    /* Hiding */
    opacity: 0
    pointer-events: none

    &:after
      content: ""
      width: 0
      height: 0
      position: absolute
      bottom: 100%
      left: 5px
      border-width: 0 6px 6px 6px
      border-style: solid
      border-color: $sidebar-dropdown-border-color transparent

    &:before
      content: ""
      width: 0
      height: 0
      position: absolute
      bottom: 100%
      left: 3px
      border-width: 0 8px 8px 8px
      border-style: solid
      border-color: $sidebar-dropdown-border-color transparent

    li
      a
        display: block
        padding: 10px
        text-decoration: none
        border-bottom: 1px solid $sidebar-dropdown-border-color
        transition: all 0.1s ease-out
        .name
          font-size: $sidebar-font-size-normal
          color: $sidebar-dropdown-item-name-color
          display: block
        .description
          display: block
          font-size: $sidebar-font-size-small
          color: $sidebar-dropdown-item-desc-color
        &:visited, &:active
          .name
            color: $sidebar-dropdown-item-name-color
          .description
            color: $sidebar-dropdown-item-desc-color
      &:hover
        a
          color: $sidebar-dropdown-item-name-hover-color
          .name
            color: $sidebar-dropdown-item-name-hover-color
          .description
            color: $sidebar-dropdown-item-url-hover-color
      &:first-of-type a
        border-radius: 4px 4px 0 0
      &:last-of-type a
        border-radius: 0 0 4px 4px
        border: none
