{% extends 'base.html' %}

{% load static %}
{% load times %}
{% load cells %}

{% block title %}{{ page.name }} | {{ website.name }}{% endblock %}

{% block body_class %}{% if page_edit_on %}body-edit-page{% endif %}{% endblock %}

{% block extra_css %}
  <link href="{{ FONTS_URL }}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  {% include 'fonts.html' %}
{% endblock %}

{% block content %}
{% if page_edit_on %}
  <div id="js-ajax-container">
{% endif %}

<div class="page"
     data-website-id="{{ page.website.id }}"
     data-website-pub_status="{{ page.website.pub_status }}"
     data-website-slug="{{ page.website.slug }}"
     data-website-name="{{ page.website.name }}"
     data-website-description="{{ page.website.description }}"
     data-website-language="{{ page.website.language }}"
     data-website-page_width="{{ page.website.page_width }}"
     data-parent_page="{{ page.parent_page.pk }}"
     data-pub_status="{{ page.pub_status }}"
     data-name="{{ page.name }}"
     data-slug="{{ page.slug }}"
     data-page_width="{{ page.page_width }}"
     data-description="{{ page.description }}">
  {% for section in page.visible_sections %}
    <div class="section
                section--{{ section.n_columns }}-columns
                section--{{ section.n_rows }}-rows
                section--{{ section.cell_height }}-height"
         style="{% for key, val in section.css.items %}{{ key }}:{{ val }};{% endfor %}"
         data-pub_status="{{ section.pub_status }}"
         data-order="{{ section.order }}"
         data-n_columns="{{ section.n_columns }}"
         data-height="{{ section.height }}"
         data-name="{{ section.name }}"
         data-slug="{{ section.slug }}">
      <div class="section-inner"
           style="width: {{ page.get_page_width }}px">
      {# VIEW LAYER #}
        <div class="view-layer">
          {% for cell in section.visible_cells.all %}
            <div class="cell
                        cell--layer-view
                        cell--w-{{ cell.w }}
                        cell--h-{{ cell.h }}
                        cell--x-{{ cell.x }}
                        cell--y-{{ cell.y }}"
                 style="{% for key, val in cell.css.items %}{{ key }}:{{ val }};{% endfor %}"
                 data-section="{{ section.pk }}"
                 data-type="{{ cell.cell_type }}"
                 data-w="{{ cell.w }}"
                 data-h="{{ cell.h }}"
                 data-x="{{ cell.x }}"
                 data-y="{{ cell.y }}">
              <div class="cell-inner" style="margin: {{ cell.padding }}">
                {{ cell.draw_content }}
              </div>
            </div>
          {% endfor %}
        </div>
        {% if page_edit_on %}
          {# INSERT LAYER #}
          <div class="insert-layer"
               data-section="{{ section.id }}">
            {% for row in section.n_rows|times %}
              {% for col in section.n_columns|times %}
                <div class="cell
                            cell--layer-insert
                            cell--w-1
                            cell--h-1
                            cell--x-{{ col }}
                            cell--y-{{ row }}"
                     data-section="{{ section.pk }}"
                     data-x="{{ col }}"
                     data-y="{{ row }}">
                </div>
              {% endfor %}
            {% endfor %}
            <div class="insert-cell-ctrl"
                 data-section="{{ section.pk }}">

            </div>
          </div>

          {# EDIT LAYER #}
          <div class="edit-layer">
            {% for cell in section.cell_set.all %}
              <div class="cell
                          cell--layer-edit
                          cell--w-{{ cell.w }}
                          cell--h-{{ cell.h }}
                          cell--x-{{ cell.x }}
                          cell--y-{{ cell.y }}"
                   data-id="{{ cell.pk }}"
                   data-section="{{ section.pk }}"
                   data-type="{{ cell.cell_type }}"
                   data-w="{{ cell.w }}"
                   data-h="{{ cell.h }}"
                   data-x="{{ cell.x }}"
                   data-y="{{ cell.y }}">
                <div class="edit-cell-inner">
                  <div class="edit-cell-ctrl">
                    <div class="edit-cell-ctrl-btns">
                      <div class="edit-cell-ctrl-btn
                                  edit-cell-ctrl-btn-move">
                        <div class="icon">
                          <i class="fa fa-arrows"></i>
                        </div>
                        <span class="text">Move</span>
                      </div>
                      <div class="edit-cell-ctrl-btn
                                  edit-cell-ctrl-btn-edit">
                        <div class="icon">
                          <i class="fa fa-edit"></i>
                        </div>
                        <span class="text">Edit</span>
                      </div>
                      <div class="edit-cell-ctrl-btn
                                  edit-cell-ctrl-btn-edit">
                        <div class="icon">
                          <i class="fa fa-times"></i>
                        </div>
                        <span class="text">Delete</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

          {# MOVE LAYER #}
{#          <div class="move-layer hidden">#}
{#            {% for row in section.n_rows|times %}#}
{#              {% for col in section.n_columns|times %}#}
{#                <div class="cell#}
{#                            cell--layer-move#}
{#                            {% insert_cell_class col row section.cell_set.all %}#}
{#                            cell--w-1#}
{#                            cell--h-1#}
{#                            cell--x-{{ col }}#}
{#                            cell--y-{{ row }}"#}
{#                     data-section="{{ section.pk }}"#}
{#                     data-x="{{ col }}"#}
{#                     data-y="{{ row }}">#}
{#                </div>#}
{#              {% endfor %}#}
{#            {% endfor %}#}
{#            <div class="cell moving-cell"#}
{#                 data-section="{{ section.pk }}">#}
{##}
{#            </div>#}
{#          </div>#}
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

{# Popups #}
{% if page_edit_on %}
  <div class="modal hidden" id="js-website-edit-modal">
    <div class="modal-header">
      <div class="modal-close-btn">
        <i class="fa fa-times"></i>
      </div>
      <h2>Modify website</h2>
    </div>
    <div class="modal-content"></div>
    <div class="modal-footer"></div>
  </div>
{% endif %}

{# Sidebar #}
{% if page_edit_on %}
  <div id="sidebar">
    <div id="sidebar-inner">

      {# Website #}
      <h3 class="sidebar-title">
        Website
        <span class="title-btn" id="js-sidebar-website-add-btn">
          Add <i class="fa fa-plus"></i>
        </span>
      </h3>
      <div class="sidebar-item">
        <div class="sidebar-item-option left">
          <div class="sidebar-dropdown-wrapper"
               id="js-website-select-dropdown">
            <div class="sidebar-option-btn bordered">
              <i class="fa fa-angle-down"></i>
            </div>
            <ul class="sidebar-dropdown">
              {% for web in user.website_set.all %}
                <li><a href="#">
                  <span class="name">{{ web.name }}</span>
                  <span class="description">{{ web.domain }}</span>
                </a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="sidebar-item-option right">
          <div class="sidebar-option-btn"
               id="js-sidebar-website-edit-btn">
            <i class="fa fa-edit"></i>
          </div>
        </div>
        <div class="sidebar-item-content">
          <h2 class="name">{{ website.name }}</h2>
          <h3 class="description">{{ website.domain }}</h3>
        </div>
      </div>

      {# Page #}
      <h3 class="sidebar-title">
        Page
        <span class="title-btn" id="js-sidebar-page-add-btn">
          Add <i class="fa fa-plus"></i>
        </span>
      </h3>
      <div class="sidebar-item">
        <div class="sidebar-item-option left">
          <div class="sidebar-dropdown-wrapper"
               id="js-page-select-dropdown">
            <div class="sidebar-option-btn bordered">
              <i class="fa fa-angle-down"></i>
            </div>
            <ul class="sidebar-dropdown">
              {% for page in website.page_set.all %}
                <li><a href="#">
                  <span class="name">{{ page.name }}</span>
                  <span class="url">{{ page.slug }}</span>
                </a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="sidebar-item-option right">
          <div class="sidebar-option-btn"
               id="js-sidebar-edit-page-btn">
            <i class="fa fa-edit"></i>
          </div>
        </div>
        <div class="sidebar-item-content">
          <h2 class="name">{{ page.name }}</h2>
          <h3 class="description">{{ page.absolute_path }}</h3>
        </div>
      </div>
      {# Sections #}
      <h3 class="sidebar-title">
        Sections
        <span class="title-btn">Add <i class="fa fa-plus"></i></span>
      </h3>
      <ul class="section-list">
        {% for section in page.section_set.all %}
          <li>
            <div class="sidebar-item">
              <div class="sidebar-item-option left">
                <div class="sidebar-option-btn bordered grab">
                  <i class="fa fa-reorder"></i>
                </div>
              </div>
              <div class="sidebar-item-option right">
                <div class="sidebar-option-btn">
                  <i class="fa fa-edit"></i>
                </div>
              </div>
              <div class="sidebar-item-option right">
                <form method="post" action="{% url 'section_visibility_update' section.pk %}" class="js-ajax-form">
                  {% csrf_token %}
                  <input type="hidden" name="is_visible" value="{% if section.is_visible %}False{% else %}True{% endif %}" />
                  <button class="sidebar-option-btn" type="submit">
                    {% if section.is_visible %}<i class="fa fa-eye"></i>
                    {% else %}<i class="fa fa-eye-slash"></i>{% endif %}
                  </button>
                </form>
              </div>
              <div class="sidebar-item-content">
                <h2 class="name">{{ section.name }}</h2>
                <h3 class="description">#{{ section.order }}</h3>
              </div>
            </div>

            {# Cells #}
            <ul class="cell-list">
              {% for cell in section.cell_set.all %}
                <li class="cell-list-item"
                    data-section="{{ section.pk }}"
                    data-cell-id="{{ cell.pk }}">
                  <div class="sidebar-item">
                    <div class="sidebar-item-option left">
                      <div class="sidebar-option-btn bordered grab">
                        <i class="fa fa-reorder"></i>
                      </div>
                    </div>
                    <div class="sidebar-item-option right">
                      <div class="sidebar-option-btn">
                        <i class="fa fa-edit"></i>
                      </div>
                    </div>
                    <div class="sidebar-item-option right">
                      <form method="post" action="{% url 'cell_visibility_update' cell.pk %}" class="js-ajax-form">
                        {% csrf_token %}
                        <input type="hidden" name="is_visible" value="{% if cell.is_visible %}False{% else %}True{% endif %}" />
                        <button class="sidebar-option-btn" type="submit">
                          {% if cell.is_visible %}<i class="fa fa-eye"></i>
                          {% else %}<i class="fa fa-eye-slash"></i>{% endif %}
                        </button>
                      </form>
                    </div>
                    <div class="sidebar-item-content">
                      <h2 class="name">{% cell_type_icon cell %} | No text</h2>
                      <h3 class="description"><span class="coordinate">x:</span> {{ cell.x }}, <span class="coordinate">y:</span> {{ cell.y }}, <span class="coordinate">w:</span> {{ cell.w }}, <span class="coordinate">h:</span> {{ cell.h }}</h3>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{# js-ajax-container #}
{% if page_edit_on %}
  </div>
{% endif %}

{# loading #}
<div id="loading-overlay" class="hidden">
  <div id="loading-msg">
    <i class="fa fa-circle-o-notch fa-spin"></i> waiting for response
  </div>
</div>
{% endblock %}
